In [51]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [52]:
file = "datasets/data.csv"
recipes_df = pd.read_csv(file)

In [53]:
new_file = "datasets/walmart.csv"
walmart_df = pd.read_csv(new_file)

In [54]:
recipes_df.loc[(recipes_df["Main Ingredient"] == 'Eggs')]

,Recipe Name,Cook Time,Yield,Calories,Main Ingredient,URL
0,Scotch Eggs,25.0,4.0,3172.921085,Eggs,http://www.seriouseats.com/recipes/2012/03/sco...
1,Moonstruck eggs,24.0,2.0,786.910000,Eggs,https://food52.com/recipes/518-moonstruck-eggs
2,Eggs Benedict,60.0,4.0,2863.087500,Eggs,http://www.bbc.co.uk/food/recipes/eggsbenedict...
3,Deviled eggs,17.0,4.0,302.270000,Eggs,http://honestcooking.com/deviled-eggs/
4,Scrambled Eggs,15.0,2.0,675.763984,Eggs,http://www.tastingtable.com/entry_detail/chefs...
5,Deviled Eggs,30.0,8.0,488.215000,Eggs,http://www.cookstr.com/recipes/devilled-eggs-2
6,Deviled Eggs,131.0,24.0,1619.791625,Eggs,http://www.marthastewart.com/354137/deviled-eggs
7,Eggs Benedict,25.0,4.0,2263.929766,Eggs,http://chezus.com/2014/04/07/eggs-benedict/
8,Deviled Eggs,45.0,12.0,1164.453000,Eggs,https://www.realsimple.com/food-recipes/browse...
9,Poached Eggs,5.0,4.0,247.760000,Eggs,http://www.delish.com/cooking/recipe-ideas/rec...
10,Poached Eggs,15.0,4.0,310.132000,Eggs,https://www.foodnetwork.com/recipes/poached-eg...
11,Poached Eggs,15.0,6.0,434.364000,Eggs,http://www.myrecipes.com/recipe/poached-eggs-1
12,Eggs Benedict,35.0,10.0,2361.211605,Eggs,https://www.menshealth.com/recipes/eggs-benedi...
13,Green Eggs,20.0,4.0,371.067200,Eggs,https://elanaspantry.com/green-eggs/
14,Deviled Eggs,40.0,24.0,1442.131150,Eggs,http://www.goodhousekeeping.com/food-recipes/a...
15,"""Pouched"" Eggs",27.0,4.0,1182.168000,Eggs,https://food52.com/recipes/15662-pouched-eggs
16,Scrambled Eggs,20.0,4.0,317.550426,Eggs,http://www.marthastewart.com/945345/scrambled-...
17,Eggs Florentine,40.0,2.0,1306.301583,Eggs,http://www.bbc.co.uk/food/recipes/eggsflorenti...
18,Eggs Benedict,30.0,4.0,1313.449794,Eggs,http://www.cookstr.com/recipes/eggs-benedict-v...
19,Southwestern Eggs,15.0,4.0,2507.640489,Eggs,https://www.realsimple.com/food-recipes/browse...
20,Eggs Benedict Deviled Eggs,20.0,12.0,778.593000,Eggs,https://www.foodnetwork.com/recipes/giada-de-l...
21,Deviled Eggs,27.0,6.0,738.135667,Eggs,http://www.myrecipes.com/recipe/deviled-eggs-8
22,Special Eggs,173.0,4.0,2751.980824,Eggs,https://food52.com/recipes/4138-special-eggs
23,Coddled Eggs,25.0,4.0,342.321817,Eggs,http://www.marthastewart.com/337829/coddled-eggs
24,Crabmeat Deviled Eggs,80.0,12.0,1822.563125,Eggs,http://www.goodhousekeeping.com/food-recipes/a...
25,Eggs Benedict,8.0,4.0,366.318083,Eggs,https://www.menshealth.com/recipes/eggs-benedi...
26,Scotch eggs,60.0,4.0,2051.835050,Eggs,http://www.bbc.co.uk/food/recipes/scotcheggs_8...
27,Eggs Caviar,60.0,4.0,454.980756,Eggs,http://www.cookstr.com/recipes/eggs-caviar
28,Devils’ Eggs,30.0,6.0,837.343735,Eggs,https://www.realsimple.com/food-recipes/browse...
29,Cloud Eggs,20.0,4.0,618.362752,Eggs,https://www.foodnetwork.com/recipes/food-netwo...
30,Marbled Eggs,170.0,6.0,896.194000,Eggs,http://www.myrecipes.com/recipe/marbled-eggs
31,Deviled Eggs,9.0,16.0,1395.098750,Eggs,https://food52.com/recipes/11425-deviled-eggs
32,Curried Deviled Eggs,80.0,12.0,2687.320000,Eggs,http://www.goodhousekeeping.com/food-recipes/a...
33,Classic Deviled Eggs,50.0,16.0,1118.824146,Eggs,https://www.marthastewart.com/1057186/classic-...
34,Eggs Benedict,45.0,4.0,1763.029144,Eggs,http://www.delish.com/cooking/recipe-ideas/rec...
35,Best Scrambled Eggs,10.0,2.0,490.528000,Eggs,https://www.realsimple.com/food-recipes/browse...
36,Eggs Benedict,30.0,6.0,1078.501565,Eggs,https://www.menshealth.com/recipes/eggs-benedict
37,Scotch Eggs,30.0,4.0,1634.737477,Eggs,http://www.cookstr.com/recipes/scotch-eggs-vic...
38,Eggs Divine,15.0,30.0,1106.750430,Eggs,http://www.myrecipes.com/recipe/eggs-divine
39,Deviled Eggs,37.0,24.0,1161.253340,Eggs,https://www.foodnetwork.com/recipes/sandra-lee...
40,Fluffy Scrambled Eggs,63.0,1.0,297.407000,Eggs,https://food52.com/recipes/14125-fluffy-scramb...
41,Eggs Florentine,25.0,4.0,325.992031,Eggs,https://www.menshealth.com/recipes/eggs-floren...
42,Eggs Florentine,45.0,10.0,2759.762268,Eggs,http://www.delish.com/cooking/recipe-ideas/rec...
43,“Ranch” Eggs,30.0,4.0,1725.907718,Eggs,http://www.cookstr.com/recipes/ldquoranchrdquo...
44,Shirred Eggs,30.0,8.0,1433.903891,Eggs,https://www.realsimple.com/food-recipes/browse...
45,Deviled Eggs,25.0,24.0,1263.990812,Eggs,http://www.myrecipes.com/recipe/deviled-eggs
46,Asparagus with Eggs & Parmesan,18.0,4.0,367.266737,Eggs,https://www.menshealth.com/recipes/asparagus-w...
47,Bacon and Eggs,20.0,6.0,1647.544091,Eggs,http://www.delish.com/cooking/recipe-ideas/rec...
48,Deviled Eggs,85.0,12.0,863.780932,Eggs,https://www.foodnetwork.com/recipes/deviled-eg...
49,Smokey Deviled Eggs,397.0,12.0,700.093000,Eggs,https://food52.com/recipes/3908-smokey-deviled...

In [55]:
# Create a proteins_df with the 20 main ingredients and make this a table in the database
df = recipes_df[["Main Ingredient"]].drop_duplicates()
proteins_df = df.reset_index(drop=True)
proteins_df

             Main Ingredient
0                       Eggs
1                    Almonds
2             Chicken breast
3                       Oats
4             Cottage cheese
5               Greek yogurt
6                       Milk
7                   Broccoli
8                  Lean beef
9                       Tuna
10                    Quinoa
11  Whey protein supplements
12                   Lentils
13             Ezekiel bread
14             Pumpkin seeds
15             Turkey breast
16                      Fish
17                    Shrimp
18          Brussels sprouts
19                   Peanuts

In [62]:
# Need to save the proteins without spaces or capitalization so that our link to the Walmart store will work in SQL

proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Chicken breast":"Chickenbreast"},regex=True)
proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Cottage cheese":"Cottagecheese"},regex=True)
proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Greek yogurt":"Greekyogurt"},regex=True)
proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Lean beef":"Leanbeef"},regex=True)
proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Whey protein supplements":"Wheyproteinsupplements"},regex=True)
proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Ezekiel bread":"Ezekielbread"},regex=True)
proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Pumpkin seeds":"Pumpkinseeds"},regex=True)
proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Turkey breast":"Turkeybreast"},regex=True)
proteins_df["Main Ingredient"] = proteins_df["Main Ingredient"].replace({"Brussels sprouts":"Brusselssprouts"},regex=True)

proteins_df.rename(columns={"Main Ingredient":"Main_Ingredient"},inplace=True)
proteins_df

           Main_Ingredient
0                     Eggs
1                  Almonds
2            Chickenbreast
3                     Oats
4            Cottagecheese
5              Greekyogurt
6                     Milk
7                 Broccoli
8                 Leanbeef
9                     Tuna
10                  Quinoa
11  Wheyproteinsupplements
12                 Lentils
13            Ezekielbread
14            Pumpkinseeds
15            Turkeybreast
16                    Fish
17                  Shrimp
18         Brusselssprouts
19                 Peanuts

In [57]:
walmart_df

,name,store_id,phone,postalCode,address,city,state,country,ingredients,urls
0,Aberdeen Supercenter,1968,410-273-9200,21001,645 S Philadelphia Blvd,Aberdeen,MD,US,Eggs,https://www.walmart.com/store/1968/search?quer...
1,Aberdeen Supercenter,1968,410-273-9200,21001,645 S Philadelphia Blvd,Aberdeen,MD,US,Almonds,https://www.walmart.com/store/1968/search?quer...
2,Aberdeen Supercenter,1968,410-273-9200,21001,645 S Philadelphia Blvd,Aberdeen,MD,US,Chicken breast,https://www.walmart.com/store/1968/search?quer...
3,Aberdeen Supercenter,1968,410-273-9200,21001,645 S Philadelphia Blvd,Aberdeen,MD,US,Oats,https://www.walmart.com/store/1968/search?quer...
4,Aberdeen Supercenter,1968,410-273-9200,21001,645 S Philadelphia Blvd,Aberdeen,MD,US,Cottage cheese,https://www.walmart.com/store/1968/search?quer...
...,...,...,...,...,...,...,...,...,...,...
2975,Wyncote Store,5229,215-887-6737,19095,1000 Easton Rd Ste 200,Wyncote,PA,US,Turkey breast,https://www.walmart.com/store/5229/search?quer...
2976,Wyncote Store,5229,215-887-6737,19095,1000 Easton Rd Ste 200,Wyncote,PA,US,Fish,https://www.walmart.com/store/5229/search?quer...
2977,Wyncote Store,5229,215-887-6737,19095,1000 Easton Rd Ste 200,Wyncote,PA,US,Shrimp,https://www.walmart.com/store/5229/search?quer...
2978,Wyncote Store,5229,215-887-6737,19095,1000 Easton Rd Ste 200,Wyncote,PA,US,Brussels sprouts,https://www.walmart.com/store/5229/search?quer...
2979,Wyncote Store,5229,215-887-6737,19095,1000 Easton Rd Ste 200,Wyncote,PA,US,Peanuts,https://www.walmart.com/store/5229/search?quer...

In [58]:
# Trim walmart_df by removing "ingredients" and "urls", save as storeinfo_df. 
# Now it only shows the unique Walmart stores in the northeast and their location information
df = walmart_df[["name", "store_id", "phone", "postalCode", "address", "city", "state", "country"]].drop_duplicates()
storeinfo_df = df.reset_index(drop=True)
storeinfo_df

,name,store_id,phone,postalCode,address,city,state,country
0,Aberdeen Supercenter,1968,410-273-9200,21001,645 S Philadelphia Blvd,Aberdeen,MD,US
1,Abingdon Store,2009,410-569-9403,21009,401 Constant Friendship Blvd,Abingdon,MD,US
2,Allentown Supercenter,2641,610-530-1400,18106,1091 Millcreek Rd,Allentown,PA,US
3,Audubon Store,5047,856-310-1470,8106,130 Black Horse Pike,Audubon,NJ,US
4,Bayonne Supercenter,5867,201-620-6137,7002,500 Bayonne Crossing Way,Bayonne,NJ,US
...,...,...,...,...,...,...,...,...
144,Willow Grove Supercenter,3564,215-830-8370,19090,2101 Blair Mill Rd,Willow Grove,PA,US
145,Wilmington Store,5436,302-683-9312,19808,1251 Centerville Rd,Wilmington,DE,US
146,Woodbridge Store,5281,732-826-4652,7095,360 Us Highway 9 Route N,Woodbridge,NJ,US
147,Woodbury Supercenter,5476,856-686-0133,8096,820 Cooper St,Woodbury,NJ,US
148,Wyncote Store,5229,215-887-6737,19095,1000 Easton Rd Ste 200,Wyncote,PA,US

In [59]:
connection = f"postgres:{password}@localhost:5432/ETL"
engine = create_engine(f'postgresql://{connection}')

In [60]:
engine.table_names()

['Recipes', 'Store']

In [27]:
# Proteins table cleanup
protein_list_df = proteins_df.rename(columns={"Main Ingredient":"Main_Ingredient"},inplace=True)
protein_list_df

In [19]:
# Recipe Table cleanup
recipetable_df = recipes_df[["Main Ingredient","Recipe Name","Cook Time","Yield","Calories","URL"]]
recipetable_df.rename(columns={"Main Ingredient":"Main_Ingredient","Recipe Name":"Recipe_Name","Cook Time":"Cook_time","URL":"URL"},inplace=True)

recipetable_df.index.name = "id"
recipetable_df.index += 1 
recipetable_df

,Main_Ingredient,Recipe_Name,Cook_time,Yield,Calories,URL
id,,,,,,
1,Eggs,Scotch Eggs,25.0,4.0,3172.921085,http://www.seriouseats.com/recipes/2012/03/sco...
2,Eggs,Moonstruck eggs,24.0,2.0,786.910000,https://food52.com/recipes/518-moonstruck-eggs
3,Eggs,Eggs Benedict,60.0,4.0,2863.087500,http://www.bbc.co.uk/food/recipes/eggsbenedict...
4,Eggs,Deviled eggs,17.0,4.0,302.270000,http://honestcooking.com/deviled-eggs/
5,Eggs,Scrambled Eggs,15.0,2.0,675.763984,http://www.tastingtable.com/entry_detail/chefs...
...,...,...,...,...,...,...
939,Peanuts,Thai Cucumber Salad with Peanuts,20.0,4.0,935.830000,http://www.delish.com/cooking/recipe-ideas/rec...
940,Peanuts,Asian Chicken with Peanuts,45.0,4.0,1825.653876,http://www.myrecipes.com/recipe/asian-chicken-...
941,Peanuts,"Grilled Shrimp with Cilantro, Lime, and Peanuts",20.0,4.0,903.322406,http://www.marthastewart.com/339717/grilled-sh...
942,Peanuts,Sugared Peanuts,50.0,4.0,4859.280000,https://www.foodnetwork.com/recipes/paula-deen...
943,Peanuts,Spicy Chicken Stir-Fry with Peanuts,15.0,1.0,257.123985,http://www.delish.com/cooking/recipe-ideas/rec...

In [61]:
# Walmart Table cleanup
store_df = storeinfo_df[["store_id","name","address","postalCode","city","state"]]
store_df.rename(columns={"store_id":"Store_Id","name":"Store_Name","address":"Store_Address", "postalCode":"Store_Zipcode", "city":"Store_City","state":"Store_State"},inplace=True)

#store_df.set_index("Store_id",inplace=True)

store_df

C:\Users\ramya\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Store_Id,Store_Name,Store_Address,Store_Zipcode,Store_City,Store_State
0,1968,Aberdeen Supercenter,645 S Philadelphia Blvd,21001,Aberdeen,MD
1,2009,Abingdon Store,401 Constant Friendship Blvd,21009,Abingdon,MD
2,2641,Allentown Supercenter,1091 Millcreek Rd,18106,Allentown,PA
3,5047,Audubon Store,130 Black Horse Pike,8106,Audubon,NJ
4,5867,Bayonne Supercenter,500 Bayonne Crossing Way,7002,Bayonne,NJ
...,...,...,...,...,...,...
144,3564,Willow Grove Supercenter,2101 Blair Mill Rd,19090,Willow Grove,PA
145,5436,Wilmington Store,1251 Centerville Rd,19808,Wilmington,DE
146,5281,Woodbridge Store,360 Us Highway 9 Route N,7095,Woodbridge,NJ
147,5476,Woodbury Supercenter,820 Cooper St,8096,Woodbury,NJ
148,5229,Wyncote Store,1000 Easton Rd Ste 200,19095,Wyncote,PA

In [ ]:
# Load dataframes into database, Table: Protein_List
proteins_df.to_sql(name='Protein_List', con=engine, if_exists='append', index=True)

In [34]:
# Load dataframes into database, Table: Recipes
recipetable_df.to_sql(name='Recipes', con=engine, if_exists='append', index=True)

In [35]:
# Load dataframes into database, Table: Walmart
store_df.to_sql(name='Store', con=engine, if_exists='append', index=True)