In [1]:
import csv
import requests
import pandas as pd
from tqdm import tqdm

from pandas.io.json import json_normalize
import json
from bs4 import BeautifulSoup

In [2]:
# Ingredient list
url = 'https://www.healthline.com/nutrition/20-delicious-high-protein-foods#TOC_TITLE_HDR_2'

response = requests.get(url)

# browser.visit(url)
soup = BeautifulSoup(response.text, 'html.parser')
#for loop tags list 1
tags1 = []

for i in range (1,10):
    want = soup.find_all('div', class_ = "css-0")[i]
    new=want.find('h2')
    tags1.append(new.text)
    
#for loop tags list 2
tags2 = []

for i in range (10,21):
    want = soup.find_all('div', class_ = "css-0")[i]
    new=want.find('h2')
    tags2.append(new.text)

newlst=[]
for i in tags1:
    newlst.append(i[4:])

newlst2=[]
for i in tags2:
    newlst2.append(i[5:])

ingredients = newlst+newlst2
ingredients=[y.replace(' (all types)', '') for y in ingredients]
ingredients

['Eggs',
 'Almonds',
 'Chicken breast',
 'Oats',
 'Cottage cheese',
 'Greek yogurt',
 'Milk',
 'Broccoli',
 'Lean beef',
 'Tuna',
 'Quinoa',
 'Whey protein supplements',
 'Lentils',
 'Ezekiel bread',
 'Pumpkin seeds',
 'Turkey breast',
 'Fish',
 'Shrimp',
 'Brussels sprouts',
 'Peanuts']

In [3]:
#Tip when dealing with zip codes. dtpye will default with integer, no bueno when it comes to zipcodes
#that start wth 0. SET the dtype to strig. 

zip_codes_file = pd.read_csv("../datasets/uszips.csv", dtype={'zip': 'str'})
zip_df = zip_codes_file
zip_df.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,00601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,00602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,00603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,00606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,00610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico

# walmart_store_database

In [4]:
nj_zips_df = zip_df.groupby(['state_id']).get_group('NJ')
nj_zips_df.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
1963,07001,40.58338,-74.27004,Avenel,NJ,New Jersey,True,NaN,18307,1671.6,34023,Middlesex,{'34023':100},Middlesex,34023,False,False,America/New_York
1964,07002,40.66464,-74.10868,Bayonne,NJ,New Jersey,True,NaN,65300,4161.2,34017,Hudson,{'34017':100},Hudson,34017,False,False,America/New_York
1965,07003,40.81002,-74.18679,Bloomfield,NJ,New Jersey,True,NaN,48810,3437.6,34013,Essex,{'34013':100},Essex,34013,False,False,America/New_York
1966,07004,40.88278,-74.30415,Fairfield,NJ,New Jersey,True,NaN,7331,283.5,34013,Essex,{'34013':100},Essex,34013,False,False,America/New_York
1967,07005,40.92947,-74.42099,Boonton,NJ,New Jersey,True,NaN,15095,313.7,34027,Morris,{'34027':100},Morris,34027,False,False,America/New_York

In [5]:
new_jersey_zip_codes =  nj_zips_df['zip'].tolist()

In [6]:
url = "https://www.walmart.com/store/finder/electrode/api/stores?\
singleLineAddr=%s&serviceTypes=pharmacy&distance=1"
walmart_store_database = []

In [ ]:
for zips in tqdm(new_jersey_zip_codes):
    store_response = requests.get(url % zips).json()
    store_data = store_response.get('payload',{}).get('storesData',{}).get("stores",[])
    for store in store_data:
        store_id = store.get('id')
        display_name = store.get("displayName")
        address = store.get("address")
        phone = store.get("phone")
        data = {"name":display_name,
                "store_id":store_id,
                "address":address,
                "phone":phone,
               }
        walmart_store_database.append(data)

 31%|███▏      | 186/595 [01:54<04:08,  1.65it/s]

# walmart_store_database

In [ ]:
main_df = pd.DataFrame(walmart_store_database)
main_df = main_df.drop(['address'], axis=1)
unnested_address_column_df = pd.DataFrame(walmart_store_database)
unnested_address_column_df = unnested_address_column_df.address.apply(pd.Series)

In [ ]:
walmart_db_df = pd.concat([main_df, unnested_address_column_df], axis=1, join='inner')

In [ ]:
walmart_db_df.head()

# COUPON CODE BELOW

In [ ]:
walmart_db_df.info()

In [ ]:
store_list = walmart_db_df["store_id"].unique()

In [ ]:
len(store_list)

In [ ]:
for store in store_list:
    print(f"https://www.walmart.com/store/{store}/search?query=ezekiel%20bread")

In [ ]:
walmart_db_df["name"].unique()

In [ ]:
len(walmart_db_df["name"].unique())

In [ ]:
unique_store = walmart_db_df.drop_duplicates(subset = ['store_id'])

In [ ]:
#MADE NEW STORES DF
stores_df=unique_store
stores_df

In [ ]:
#Store column. Add to new dataframe
store_df_list=stores_df["store_id"]
store_df_list


ing_list = []
for stores in store_df_list:
    for ingredient in ingredients:
        ing_list.append(ingredient)
ing_list

In [ ]:
#Create new dataframe by duplicating each row 20 times
duplicated_twenty = pd.concat([stores_df]*20)
duplicated_twenty

In [ ]:
ordered_df= duplicated_twenty.sort_values(by=['name'])
ordered_df.head(25)

In [ ]:
dataframe_with_ingredients = ordered_df.assign(ingredients=ing_list)
dataframe_with_ingredients.head(21)
len(dataframe_with_ingredients)
dataframe_with_ingredients

In [ ]:
# testlist = []
# for stores in store_df_list:
#     for ingredient in ingredients:
#         testlist.append(ingredient)
# testlist

stores_by_name=dataframe_with_ingredients["store_id"]

urllist=[]
remove_spaces=[]

#removes spaces
for i in ingredients:
    j=i.replace(" ","%20")
    remove_spaces.append(j)

for store in stores_by_name:
    for ingredient in remove_spaces:
        url=(f"https://www.walmart.com/store/{store}/search?query={ingredient}")
        urllist.append(url)
        
urllist

In [ ]:
len(urllist)

In [ ]:
new_urls = [] 
for i in urllist: 
    if i not in new_urls: 
        new_urls.append(i) 
len(new_urls)

In [ ]:
new_urls

In [ ]:
#Add this to the dataframe
dataframe_urls_ing=dataframe_with_ingredients.assign(urls=new_urls)

# dataframe_with_ingredients = ordered_df.assign(ingredients=testlist)

dataframe_urls_ing

In [ ]:
dataframe_urls_ing.to_csv('../datasets/walmart.csv', index=False)