In [309]:
import csv
import requests
import pandas as pd
from tqdm import tqdm
import pymongo
from pandas.io.json import json_normalize
import json

In [310]:
#Tip when dealing with zip codes. dtpye will default with integer, no bueno when it comes to zipcodes
#that start wth 0. SET the dtype to strig. 

zip_codes_file = pd.read_csv("../datasets/uszips.csv", dtype={'zip': 'str'})
zip_df = zip_codes_file
zip_df.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,00601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,00602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,00603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,00606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,00610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico

In [311]:
#walmart_store_database

In [312]:
nj_zips_df = zip_df.groupby(['state_id']).get_group('NJ')
nj_zips_df.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
1963,07001,40.58338,-74.27004,Avenel,NJ,New Jersey,True,NaN,18307,1671.6,34023,Middlesex,{'34023':100},Middlesex,34023,False,False,America/New_York
1964,07002,40.66464,-74.10868,Bayonne,NJ,New Jersey,True,NaN,65300,4161.2,34017,Hudson,{'34017':100},Hudson,34017,False,False,America/New_York
1965,07003,40.81002,-74.18679,Bloomfield,NJ,New Jersey,True,NaN,48810,3437.6,34013,Essex,{'34013':100},Essex,34013,False,False,America/New_York
1966,07004,40.88278,-74.30415,Fairfield,NJ,New Jersey,True,NaN,7331,283.5,34013,Essex,{'34013':100},Essex,34013,False,False,America/New_York
1967,07005,40.92947,-74.42099,Boonton,NJ,New Jersey,True,NaN,15095,313.7,34027,Morris,{'34027':100},Morris,34027,False,False,America/New_York

In [313]:
new_jersey_zip_codes =  nj_zips_df['zip'].tolist()

In [314]:
url = "https://www.walmart.com/store/finder/electrode/api/stores?\
singleLineAddr=%s&serviceTypes=pharmacy&distance=1"
walmart_store_database = []

In [315]:
for zips in tqdm(new_jersey_zip_codes):
    store_response = requests.get(url % zips).json()
    store_data = store_response.get('payload',{}).get('storesData',{}).get("stores",[])
    for store in store_data:
        store_id = store.get('id')
        display_name = store.get("displayName")
        address = store.get("address")
        phone = store.get("phone")
        data = {"name":display_name,
                "store_id":store_id,
                "address":address,
                "phone":phone,
               }
        walmart_store_database.append(data)

100%|████████████████████████████████████████████████████████████████████████████████| 595/595 [05:48<00:00,  1.71it/s]

In [316]:
#walmart_store_database

In [317]:
main_df = pd.DataFrame(walmart_store_database)
main_df = main_df.drop(['address'], axis=1)
unnested_address_column_df = pd.DataFrame(walmart_store_database)
unnested_address_column_df = unnested_address_column_df.address.apply(pd.Series)

In [297]:
walmart_db_df = pd.concat([main_df, unnested_address_column_df], axis=1, join='inner')

In [ ]:
walmart_db_df.head()

In [ ]:
# COUPON CODE BELOW ######

In [ ]:
coupon_url = "https://www.walmart.com/store/%s/coupons"

In [ ]:
coupon_walmart_store_database = []

In [ ]:

coupon_walmart_store_database = []

In [ ]:
for stores in tqdm(store_ids):
    coupon_response = requests.get(url % stores)

In [ ]:
coupon_response

TypeError: 'Collection' object is not callable. If you meant to call the 'head' method on a 'Collection' object it is failing because no such method exists.